@model IEnumerable<IPRehabModel.TblEpisodeOfCare>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OnsetDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientIcnfkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OnsetDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientIcnfkNavigation.Icn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EpisodeOfCareId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EpisodeOfCareId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EpisodeOfCareId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
