@model PatientListViewModel

<div class="flex-start-row-nowrap fixedTop">
  <div class="pageTitle">
    @(Model.PageTitle)
    <input id="searchCriteria" type="search" name="searchCriteria"
           placeholder="enter a critera" title="criteria are like the text in the table column such as 1V01 or 64"
           value="@(Model.SearchCriteria)" />

    <div class="mdc-touch-target-wrapper">
      <button id="searchBtn" name="searchBtn"
              class="mdc-button mdc-button--raised"
              asp-controller="patient"
              asp-action="Index"
              asp-route-pagenumber="@(Model.PageNumber)"
              asp-route-orderby="@(Model.OrderBy)">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label">Search</span>
      </button>
    </div>
  </div>

  @*the Model.Patients.Count() is total matched records that are Viewable in the current pager.
    The Model.TotalPatients is total matched records in the repository*@
  @if (Model.Patients.Any())
  {
    <div id="recordCount">@($"{Model.Patients.Count()} of {Model.TotalPatients} records")</div>
  }
  else
  {
    <div id="recordCount">0 records</div>
  }
</div>
