@model ViewComponentTemplateModel

@{
  AnswerDTO originalAnswer = null;
  ChoiceAndAnswer selectedItem = null;
  var thisChoiceAndAnswer = Model.ChoiceAndAnswerList.FirstOrDefault(x => x.Answer != null);
  if (thisChoiceAndAnswer != null)
  {
    if (thisChoiceAndAnswer.Answer != null)
    {
      originalAnswer = thisChoiceAndAnswer.Answer;
    }
  }
  bool displayStageHeader = Model.ViewComponentViewModel.DisplayStageHeader;
}

<div class="flex-start-column-nowrap">

  @*the labe is required by HTML5 specification*@
  <label for="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}")"
         class="nullLabel"
         aria-label="label for dropdown left blank use the question text"></label>

  @*only the first questions in the group should display this stage header such as Admission Performance, Discharge Goal, etc*@
  @if (displayStageHeader)
  {
    <div class="stageHeaderNoBottomBorder">@($"{Model.ViewComponentViewModel.StageTitle}")</div>
  }
  <select class="browser-default custom-select select2 dropdown persistable physical-therapy"
          name="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}")"
          id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}")"
          data-questionid="@(Model.ViewComponentViewModel.QuestionID)"
          data-questionkey="@(Model.ViewComponentViewModel.QuestionKey)"
          data-userid="@(Model.ViewComponentViewModel.UserID)"
          data-useranswerid="@(originalAnswer == null ? string.Empty : originalAnswer.EpisodeOfCare.EpisodeOfCareID)"
          data-oldvalue="@(originalAnswer == null ? string.Empty : originalAnswer.AnswerCodeSet.CodeValue)"
          data-answersetid="@(originalAnswer == null ? string.Empty : originalAnswer.AnswerSequenceNumber)"
          data-toggle="tooltip"
          data-placement="left"
          title="@(originalAnswer == null ? "" : $"Answered by {originalAnswer.ByUser}")">

    @*text white on wite background to reduce clutter but is required*@
    <option>@($"select 1 of {Model.ChoiceAndAnswerList.Count}")</option>

    @foreach (var item in Model.ChoiceAndAnswerList)
    {
      selectedItem = item;
      /* each item in the ChoicesAnswers contains maximum of one choice codeSetID and, if answered, one answer.codeSetID */
      <option value="@(item.SelectListItem.Value)"
              selected="@(item.SelectListItem.Selected)">
        @(item.SelectListItem.Text)
      </option>
    }
  </select>

  @* add more button visible only when an option is selected *@
  <span class="invisible">
    <label class="mdc-text-field mdc-text-field--outlined"
           for="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_Hours")"
           aria-label="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}")">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id"></span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input type="text"
             class="mdc-text-field__input persistable"
             name="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_Hours")"
             id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_Hours")"
             value="@(originalAnswer == null ? string.Empty : originalAnswer?.Description)"
             title="@(originalAnswer == null ? string.Empty : $"Answered by {originalAnswer.ByUser}")"
             aria-label="some text"
             placeholder="enter some text"
             data-oldvalue="@(originalAnswer == null ? string.Empty : originalAnswer?.Description)"
             data-codesetid="@(originalAnswer == null ? string.Empty : originalAnswer.EpisodeOfCare.EpisodeOfCareID)"
             data-questionid="@(Model.ViewComponentViewModel.QuestionID)"
             data-questionkey="@(Model.ViewComponentViewModel.QuestionKey)"
             data-userid="@(Model.ViewComponentViewModel.UserID)"
             data-episodeid="@(originalAnswer == null ? string.Empty : originalAnswer.EpisodeOfCare.EpisodeOfCareID)"
             data-answerSequence="@(originalAnswer == null ? string.Empty : originalAnswer.AnswerSequenceNumber)"
             data-toggle="tooltip"
             data-placement="left" />
    </label>
  </span>

  @if (selectedItem.SelectListItem.Selected)
  {
    <div class="longTextOption">@(selectedItem.SelectListItem.Text)</div>
  }
  else
  {
    <div class="longTextOption invisible"></div>
  }
</div>