@model ViewComponentTemplateModel
@{
  var thisItem = Model.ChoiceAndAnswerList.FirstOrDefault().SelectListItem;
  var originalAnswer = Model.ChoiceAndAnswerList.FirstOrDefault().Answer;
  bool displayStageHeader = Model.ViewComponentViewModel.DisplayStageHeader && !string.IsNullOrEmpty(Model.ViewComponentViewModel.StageTitle);
  string stageHeaderCssClass = Model.ViewComponentViewModel.StageHeaderBorderCssClass;
  string ContainerCssClass = Model.ViewComponentViewModel.ContainerCssClass;
  bool isMultiplChoices = Model.ViewComponentViewModel.MultipleChoices;
}

<div class="@ContainerCssClass">
  @if (displayStageHeader)
  {
    @*prevent the next inner div to be flexed*@
    <div>
      <div class="@(stageHeaderCssClass)">@($"{Model.ViewComponentViewModel.StageTitle}")</div>
    </div>
  }

  @*Material Design outlined text *@
  <div class="flex-start-row-nowrap">
    <label class="mdc-text-field mdc-text-field--outlined"
           for="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_{Model.ViewComponentViewModel.ControlCounter}")"
           aria-label="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}")">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id"></span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input type="text"
             class="mdc-text-field__input persistable"
             name="@Model.ViewComponentViewModel.QuestionKey"
             id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_{Model.ViewComponentViewModel.ControlCounter}")"
             required="@(Model.ViewComponentViewModel.Required)"
             value="@(originalAnswer == null ? string.Empty : originalAnswer?.Description)"
             title="@(originalAnswer == null ? string.Empty : $"Answered by {originalAnswer.ByUser}")"
             aria-label="some text"
             placeholder="enter some text"
             data-oldvalue="@(originalAnswer == null ? "" : originalAnswer?.Description)"
             data-codesetid="@(thisItem.Value)"
             data-questionid="@(Model.ViewComponentViewModel.QuestionID)"
             data-questionkey="@(Model.ViewComponentViewModel.QuestionKey)"
             data-userid="@(Model.ViewComponentViewModel.UserID)"
             data-episodeid="@(originalAnswer == null ? string.Empty : originalAnswer.EpisodeOfCare.EpisodeOfCareID)"
             data-answerSequence="@(originalAnswer == null ? string.Empty : originalAnswer.AnswerSequenceNumber)"
             data-toggle="tooltip"
             data-placement="left" />
    </label>

    @* add morebutton *@
    @if (isMultiplChoices)
    {
      <div class="mdc-touch-target-wrapper">
        <button class="mdc-button mdc-button--touch">
          <div class="mdc-button__ripple"></div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
            <title>Add More</title>
          </svg>
          <div class="mdc-button__touch"></div>
        </button>
      </div>
    }
  </div>
</div>