@model ViewComponentTemplateModel
@{
  var thisItem = Model.ChoiceAndAnswerList.FirstOrDefault().SelectListItem;

  var originalAnswer = Model.ChoiceAndAnswerList.FirstOrDefault().Answer;
  if (originalAnswer == null)
    originalAnswer = new AnswerDTO { Description = "0" }; //needed so TryParse yields truthy

  bool displayStageHeader = (bool)Model.ViewComponentViewModel.DisplayStageHeader && !string.IsNullOrEmpty(Model.ViewComponentViewModel.StageTitle);
  bool isMultiplChoices = Model.ViewComponentViewModel.MultipleChoices;
}
<div class="@Model.ViewComponentViewModel.ContainerCssClass">

  @*Material Design Filled Text Input*@
  @if (int.TryParse(originalAnswer.Description, out int numericDescriptor))
  {
    <label class="mdc-text-field mdc-text-field--outlined"
           for="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_{Model.ViewComponentViewModel.ControlCounter}")"
           id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_{Model.ViewComponentViewModel.ControlCounter}_label")">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="my-label-id"></span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input type="number" maxlength="3" min="0" max="100" placeholder="enter a number"
             class="mdc-text-field__input numeric-text inputContainer persistable"
             name="@(Model.ViewComponentViewModel.QuestionKey)"
             id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_{Model.ViewComponentViewModel.ControlCounter}")"
             required="@(Model.ViewComponentViewModel.Required)"
             value="@(originalAnswer == null ? string.Empty : originalAnswer?.Description)"
             title="@(originalAnswer == null ? string.Empty : $"Answered by {originalAnswer.ByUser}")"
             data-stageid="@(Model.ViewComponentViewModel.StageID)"
             data-questionid="@(Model.ViewComponentViewModel.QuestionID)"
             data-questionkey="@(Model.ViewComponentViewModel.QuestionKey)"
             data-userid="@(Model.ViewComponentViewModel.UserID)"
             data-answerid="@(originalAnswer == null ? -1 : originalAnswer.AnswerID)"
             data-oldvalue="@(originalAnswer == null ? string.Empty : originalAnswer?.Description)"
             data-codesetid="@(thisItem.Value)"
             data-codesetdescription="@(thisItem.Text)"
             data-answerSequence="@(originalAnswer == null ? string.Empty : originalAnswer.AnswerSequenceNumber)"
             data-toggle="tooltip"
             data-placement="left"
             aria-labelledby="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.StageTitle}_{Model.ViewComponentViewModel.ControlCounter}_label")" />
    </label>

    @if (displayStageHeader)
    {
      @*prevent the next inner div to be flexed*@
      <div class="flex-start-row-nowrap number-wrapper">
        <div class="arrow-left"></div>
        <div class='@(Model.ViewComponentViewModel.StageHeaderBorderCssClass)'>
          @($"{Model.ViewComponentViewModel.StageTitle.Replace("_",string.Empty)}")
        </div>
      </div>
    }
  }
</div>