<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - IPRehab</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
  <link href="~/css/transition.css" asp-append-version="true" rel="stylesheet" />
  <link href="~/css/app.css" asp-append-version="true" rel="stylesheet" />
  <link href="~/css/cube annimation/cube.css" asp-append-version="true" rel="stylesheet" />
</head>
<body>
  <header>
    <nav class="banner vbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top hoverHeader">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">In Patient Rehab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
          </ul>
          @*<partial name="_LoginPartial" />*@
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <span class="nav-link">Current User Name: @ViewBag.CurrentUser</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    @*<div class="flex-center">
        <div class="pulldown"><i class="fa fa-caret-down fa-2x" aria-hidden="true"></i></div>
      </div>*@
  </header>
  <main role="main" class="pb-3 main">
    <div class="container">
      <aside>
        <div class="spinner">
          <img id="chiropractor" src="/images/chiropractor_jumping_on_table_lg_clr.gif" alt="Chiroprctor jumping on table" />
          @*<div class="cube">
              <div class="sides">
                <div class="top"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="front"></div>
                <div class="back"></div>
              </div>
            </div>*@
        </div>
      </aside>
      @RenderBody()
      <partial name="_CookieConsentPartial" />
    </div>
  </main>

  <footer class="border-top footer text-muted hoverFooter">
    <div class="flex-container-evenly-justified">
      <div class="text-white">&copy; 2021 - IPRehab @ViewBag.AppVersion <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
      <div class="text-white">@ViewBag.Office</div>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="~/js/app/animateBanner.js" asp-append-version="true"></script>
  <script type="text/javascript" asp-append-version="true">
    $(function () {
      $('.spinner').hide();
      $('#chiropractor').hide();
    })

    $('A').on('click', function () {
      $('.spinner').show();
      $('#chiropractor').show();
    })
  </script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
