@model RehabActionViewModel

<div class="flex-start-row-nowrap">
  @{
    var stageType = IPRehab.Helpers.EpisodeCommandButtonSettings.stageType;
    var actionBtnClass = IPRehab.Helpers.EpisodeCommandButtonSettings.actionBtnColor;
    string textNode = string.Empty;
    string aspRouteParamStage = string.Empty;
  }

  @foreach (var entry in stageType)
  {
    string stage = entry.Key, title = entry.Value;
    string actionBtnCssClass = actionBtnClass[stage];

    if (stageType[stage] == "Full")
    {
      aspRouteParamStage = string.Empty;
    }
    else
    {
      aspRouteParamStage = stage;
      textNode = stage;

      if (stageType[stage] == "Followup")
      {
        stage = "Follow Up";
        textNode = "Follow Up";
      }
    }
    @if (Model.EpisodeID != -1)
    {
      title = title.Replace("Create", "Edit");
    }

    @if (stage != "PatientList")
    {
      <div class="mdc-touch-target-wrapper">
        <button id="@($"{stage}_{Model.PatientID}")"
                class="mdc-button mdc-button--raised mdc-button--touch @(actionBtnCssClass) rehabAction"
                data-stage="@(stage)"
                asp-controller="question" asp-action="Edit" 
                asp-route-stage="@(aspRouteParamStage)" 
                asp-route-patientID="@(Model.PatientID)" 
                asp-route-patientName="@(Model.PatientName)" 
                asp-route-episodeID="@(Model.EpisodeID)" 
                asp-route-pageNumber="@(Model.PageNumber)" 
                asp-route-searchCriteria="@(Model.SearchCriteria)"
                asp-route-orderBy="@(Model.OrderBy)">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">@textNode</span>
          <div class="mdc-button__touch"></div>
        </button>
      </div>
    }
    else
    {
      if (Model.HostContainer == "Question")
      {
        <div class="mdc-touch-target-wrapper">
          <button id="patient"
                  class="mdc-button mdc-button--raised mdc-button--touch @(actionBtnCssClass) rehabAction"
                  data-stage="@(stage)"
                  asp-controller="patient" asp-action="Index" 
                  asp-route-pageNumber="@(Model.PageNumber)" 
                  asp-route-searchCriteria="@(Model.SearchCriteria)"
                  asp-route-orderBy="@(Model.OrderBy)">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Patients</span>
            <span class="mdc-button__touch"></span>
          </button>
        </div>
      }
    }
  }
</div>

