@model RehabActionViewModel

<div class="flex-start-row-nowrap">
  @{
    var stageType = IPRehab.Helpers.EpisodeCommandButtonSettings.stageType;
    var actionBtnClass = IPRehab.Helpers.EpisodeCommandButtonSettings.actionBtnColor;
    string textNode, stage, title, actionBtnCssClass;
    string controllerName = "Question";
    string actionName = "Edit";
  }

  @foreach (var entry in stageType)
  {
    stage = entry.Key;
    title = entry.Value;
    actionBtnCssClass = actionBtnClass[stage];
    textNode = stage;
    bool showThisButton = true;

    if (stage == "Patient")
    {
      if (Model.HostContainer == "Question")
      {
        showThisButton = true;
        controllerName = "Patient";
        actionName = "Index";
      }
      else
      {
        showThisButton = false;
      }
    }

    if (showThisButton)
    {
      @if (Model.EpisodeID != -1)
      {
        title.Replace("Create", "Edit");
      }

      switch (stage)
      {
        case "Followup":
          textNode = "Follow Up";
          break;
        case "Patient":
          textNode = "Patient List";
          break;
      }

      <div class="mdc-touch-target-wrapper">
        <button id="@($"{stage}_{Model.PatientID}")"
                class="mdc-button mdc-button--raised mdc-button--touch @(actionBtnCssClass) rehabAction"
                title="@(title)"
                data-stage="@(stage /*important*/)"
                asp-controller="@(controllerName)" 
                asp-action="@(actionName)"
                asp-route-stage="@(stage)"
                asp-route-patientid="@(Model.PatientID)"
                asp-route-patientname="@(Model.PatientName)"
                asp-route-episodeid="@(Model.EpisodeID)"
                asp-route-searchcriteria="@(Model.SearchCriteria)"
                asp-route-orderby="@(Model.OrderBy)"
                asp-route-pagenumber="@(Model.PageNumber)">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label textNoWrap">@textNode</span>
          <div class="mdc-button__touch"></div>
        </button>
      </div>
    }
  }
</div>

