@model RehabActionViewModel

<div class="flex-start-row-wrap">
  @{
    var stageType = IPRehab.Helpers.EpisodeCommandButtonSettings.stageType;
    var actionBtnClass = IPRehab.Helpers.EpisodeCommandButtonSettings.actionBtnColor;
    string textNode, stage, title, actionBtnCssClass;
    string controllerName = Model.ControllerName;
    string actionName = Model.ActionName;
  }

  @foreach (var entry in stageType)
  {
    stage = entry.Key;
    title = entry.Value;
    actionBtnCssClass = actionBtnClass[stage];
    textNode = stage;
    bool showThisButton = true;
    bool disableThisButton = false;
    string patientID = Model.PatientID;
    string episodeID = Model.EpisodeID.ToString(); /*EpisodeID is -1 if new episode*/
    if (stage == "Patient")
    {
      if (Model.HostContainer == "Question")
      {
        controllerName = "Patient";
        actionName = "Index";
        stage = string.Empty;
        patientID = string.Empty;
        episodeID = string.Empty;
      }
      else
      {
        showThisButton = false;
      }
    }

    if (showThisButton)
    {
      @if (Model.EpisodeID != -1)
      {
        title.Replace("Create", "Edit");
      }
      else
      {
        if (stage != "Base" && controllerName != "Patient" && !Model.enableThisPatient)
        {
          disableThisButton = true;
        }
      }

      switch (stage)
      {
        case "Followup":
          textNode = "Follow Up";
          break;
        case "Patient":
          textNode = "Patient List";
          break;
      }

      <div class="mdc-touch-target-wrapper">
        <button id="@($"{stage}_{actionName}_{Model.EpisodeID}" /*EpisodeID is -1 if new episode*/)"
                class="mdc-button mdc-button--raised mdc-button--touch @(actionBtnCssClass) rehabAction @(disableThisButton? "disabled":string.Empty)"
                title="@(title)"
                data-stage="@(stage /*important*/)"
                disabled ="@(disableThisButton)"
                asp-controller="@(controllerName)" 
                asp-action="@(actionName)"
                asp-route-stage="@(stage)"
                asp-route-patientid="@(patientID)"
                asp-route-episodeid="@(episodeID)"
                asp-route-searchcriteria="@(Model.SearchCriteria)"
                asp-route-orderby="@(Model.OrderBy)"
                asp-route-pagenumber="@(Model.PageNumber)">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label textNoWrap">@textNode</span>
          <div class="mdc-button__touch"></div>
        </button>
      </div>
    }
  }
</div>

