@model RehabActionViewModel

<div class="ActionBtnContainer">
  @{
    string action = "Edit";
    var stageType = IPRehab.Helpers.EpisodeCommandButtonSettings.stageType;
    var actionBtnClass = IPRehab.Helpers.EpisodeCommandButtonSettings.actionBtnColor;
    string textNode = string.Empty;
    string aspRouteParamStage = string.Empty;
  }

  @foreach (var entry in stageType)
  {
    string stage = entry.Key, title = entry.Value;
    string actionBtnCssClass = actionBtnClass[stage];

    if (stageType[stage] == "Full")
    {
      aspRouteParamStage = string.Empty;
    }
    else
    {
      aspRouteParamStage = stage;
      textNode = stage;

      if (stageType[stage] == "Followup")
      {
        stage = "Follow Up";
        textNode = "Follow Up";
      }
    }
    @if (Model.EpisodeID != -1)
    {
      title = title.Replace("Create", "Edit");
    }

  <a asp-controller="question" asp-action="@action" asp-route-stage="@aspRouteParamStage" asp-route-patientID="@Model.PatientID" asp-route-PatientName="@Model.PatientName" asp-route-episodeID="@Model.EpisodeID" class="mdc-button @(actionBtnCssClass) rehabAction" title="@title">
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__label">@textNode</span>
  </a>
  }
</div>

