@model RehabActionViewModel

<div>
  @{
    string action = "Edit";
    var stageType = Model.StageSettings;
    var actionBtnCssClass = Model.ButtonSettings;
  }

  @foreach (var entry in stageType)
  {
    string textNode = string.Empty;
    string stage = entry.Key, title = entry.Value;
    string aspRouteParamStage = string.Empty;
    string actionBtnClass = string.Empty;

    if (stageType[stage] == "Full")
    {
      aspRouteParamStage = string.Empty;
    }
    else
    {
      aspRouteParamStage = stage;
      textNode = stage;

      if (stageType[stage] == "Followup")
      {
        stage = "Follow Up";
        textNode = "Follow Up";
      }
    }
    actionBtnClass = actionBtnCssClass[stage];
   

    <a asp-controller="question" asp-action="@action" asp-route-stage="@aspRouteParamStage" asp-route-patientID="@Model.PatientID" asp-route-PatientName="@Model.PatientName" asp-route-episodeID="@Model.EpisodeID" asp-route-redirectFrom="@action" class="disabled badge @actionBtnClass rehabAction" title="@title">@textNode</a>
  }
</div>

