@model RehabActionViewModel

<div>
  @{
    string action = "Edit";
    var stageType = IPRehab.Helpers.EpisodeCommandButtonSettings.stageType;
    var actionBtnCssClass = IPRehab.Helpers.EpisodeCommandButtonSettings.actionBtnColor;
  }

  @foreach (var entry in stageType)
  {
    string textNode = string.Empty;
    string stage = entry.Key, title = entry.Value;
    string aspRouteParamStage = string.Empty;
    string actionBtnClass = actionBtnCssClass[stage];

    if (stageType[stage] == "Full")
    {
      aspRouteParamStage = string.Empty;
    }
    else
    {
      aspRouteParamStage = stage;
      textNode = stage;

      if (stageType[stage] == "Followup")
      {
        stage = "Follow Up";
        textNode = "Follow Up";
      }
    }
    @if (Model.EpisodeID != -1)
    {
      title = title.Replace("Create", "Edit");
    }

    <a asp-controller="question" asp-action="@action" asp-route-stage="@aspRouteParamStage" asp-route-patientID="@Model.PatientID" asp-route-PatientName="@Model.PatientName" asp-route-episodeID="@Model.EpisodeID" class="badge @actionBtnClass rehabAction" title="@title">@textNode</a>
  }
</div>

