@using Microsoft.AspNetCore.Http
@model IEnumerable<StageCommandViewComponentTemplateModel>
<div class="mdc-touch-target-wrapper">
    @foreach (StageCommandViewComponentTemplateModel thisStageBtnModel in Model)
    {
        if (thisStageBtnModel.ShowThisButton)
        {
            HttpRequest thisRequest = Context.Request;
            string host = thisRequest.Host.Host;

            @*
            string scheme = thisRequest.Scheme;
            string port = thisRequest.Host.Port.HasValue ? $":{thisRequest.Host.Port.Value.ToString()}" : string.Empty;
            *@

            //string path = thisRequest.Path.HasValue ? $"{thisRequest.Path.Value}" : string.Empty;
            //string webRootPath = ViewBag.WebRootPath;
            string contentRootPath = ViewBag.ContentRootPath;
            string controller = string.Empty;
            string dataHref = string.Empty;

            if (!host.Contains("localhost"))
            {
                string[] contentPathArray = contentRootPath.Split("\\");
                if (contentPathArray.Length > 0)
                {
                    string appPath = $"{contentRootPath.Split("\\")[contentPathArray.Length - 1]}";
                    if (appPath != "")
                    {
                        dataHref += $"/{appPath}";
                    }
                }
            }

            dataHref += $"/{thisStageBtnModel.ActionVM.ControllerName}/{thisStageBtnModel.ActionVM.ActionName}";

            if (thisStageBtnModel.ActionVM.ControllerName == "Question")
            {
                dataHref += $"?stage={thisStageBtnModel.Stage}";

                if (thisStageBtnModel.ActionVM.EpisodeID == -1)
                {
                    dataHref += $"&patientid={thisStageBtnModel.ActionVM.PatientID}";
                }

                dataHref += $"&episodeid={thisStageBtnModel.ActionVM.EpisodeID}";
                dataHref += $"&pagenumber=0&admitDate={thisStageBtnModel.ActionVM.AdmitDate}";
            }

            @* This comment cannot be inside the opening of a tag, otherwise the fomaction won't be generated'. 
               The following asp-* anchor tag helpers are combined to render formaction attribute *@

            <button id="@($"{thisStageBtnModel.Stage}_{thisStageBtnModel.ActionVM.ActionName}_{thisStageBtnModel.ActionVM.EpisodeID}")"
                    class="mdc-button rehabAction @(thisStageBtnModel.ActionBtnCssClass) @(thisStageBtnModel.DisableThisButton ? "disabled" : null)"
                    title="@(thisStageBtnModel.Title)"
                    data-stage="@(thisStageBtnModel.Stage)"
                    data-scrolltopatientid="@(thisStageBtnModel.ActionVM.PatientID)"
                    data-href="@(dataHref)"
                    data-contentRootPath="@(contentRootPath)"
                    aria-disabled="@(thisStageBtnModel.DisableThisButton ? true : false)"
                    disabled="@(thisStageBtnModel.DisableThisButton ? "disabled" : null)"
                    asp-controller="@(thisStageBtnModel.ActionVM.ControllerName)"
                    asp-action="@(thisStageBtnModel.ActionVM.ActionName)"
                    asp-route-stage="@(thisStageBtnModel.Stage)"
                    asp-route-patientid="@(thisStageBtnModel.ActionVM.PatientID)"
                    asp-route-episodeid="@(thisStageBtnModel.ActionVM.EpisodeID)"
                    asp-route-searchcriteria="@(thisStageBtnModel.ActionVM.SearchCriteria)"
                    asp-route-orderby="@(thisStageBtnModel.ActionVM.OrderBy)"
                    asp-route-pagenumber="@(thisStageBtnModel.ActionVM.PageNumber)"
                    asp-route-admitDate="@(thisStageBtnModel.ActionVM.AdmitDate)">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label textNoWrap">@thisStageBtnModel.TextNode</span>
                <div class="mdc-button__touch"></div>
            </button>
        }
    }
</div>

