@model IEnumerable<StageCommandViewComponentTemplateModel>

<div class="mdc-touch-target-wrapper">
  @foreach (StageCommandViewComponentTemplateModel thisStageBtnModel in Model)
  {
    if (thisStageBtnModel.ShowThisButton)
    {
      <button id="@($"{thisStageBtnModel.Stage}_{thisStageBtnModel.ActionVM.ActionName}_{thisStageBtnModel.ActionVM.EpisodeID}")"
              class="mdc-button rehabAction @(thisStageBtnModel.ActionBtnCssClass) @(thisStageBtnModel.DisableThisButton ? "disabled" : string.Empty)"
              title="@(thisStageBtnModel.Title)"
              data-stage="@(thisStageBtnModel.Stage /*important*/)"
              disabled="@(thisStageBtnModel.DisableThisButton)"
              asp-controller="@(thisStageBtnModel.ActionVM.ControllerName)"
              asp-action="@(thisStageBtnModel.ActionVM.ActionName)"
              asp-route-stage="@(thisStageBtnModel.Stage)"
              asp-route-patientid="@(thisStageBtnModel.ActionVM.PatientID)"
              asp-route-episodeid="@(thisStageBtnModel.ActionVM.EpisodeID)"
              asp-route-searchcriteria="@(thisStageBtnModel.ActionVM.SearchCriteria)"
              asp-route-orderby="@(thisStageBtnModel.ActionVM.OrderBy)"
              asp-route-pagenumber="@(thisStageBtnModel.ActionVM.PageNumber)">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__label textNoWrap">@thisStageBtnModel.TextNode</span>
        <div class="mdc-button__touch"></div>
      </button>
    }
  }
</div>

