@model InputViewComponentTemplateModel

@{
  AnswerDTO originalAnswer = null;
  ChoiceAndAnswer selectedItem = null;
  var thisChoiceAndAnswer = Model.ChoiceAndAnswerList.FirstOrDefault(x => x.Answer != null);
  if (thisChoiceAndAnswer != null)
  {
    originalAnswer = thisChoiceAndAnswer.Answer;
  }

  bool displayStageHeader = Model.ViewComponentViewModel.DisplayMeasureHeader && !string.IsNullOrEmpty(Model.ViewComponentViewModel.Measure);
}

<div class="flex-start-column-nowrap">

  @*the labe is required by HTML5 specification*@
  <label for="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.Measure}_{Model.ViewComponentViewModel.ControlCounter}")"
         id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.Measure}_{Model.ViewComponentViewModel.ControlCounter}_label")"
         class="nullLabel"></label>

  @*only the first questions in the group should display this stage header such as Admission Performance, Discharge Goal, etc*@
  @if (displayStageHeader)
  {
    @*prevent the next inner div to be flexed*@
    <div>
      <div class="stageHeaderNoBottomBorder">@($"{Model.ViewComponentViewModel.MeasureTitleNormalized}")</div>
    </div>
  }
  <select class="browser-default custom-select select2 dropdown persistable"
          name="@(Model.ViewComponentViewModel.QuestionKey)"
          id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.Measure}_{Model.ViewComponentViewModel.ControlCounter}")"
          required="@(Model.ViewComponentViewModel.Required)"
          title="@(originalAnswer == null ? "" : $"Answered by {originalAnswer.ByUser}")"
          data-stageid="@(Model.ViewComponentViewModel.StageID)"
          data-questionid="@(Model.ViewComponentViewModel.QuestionID)"
          data-questionkey="@(Model.ViewComponentViewModel.QuestionKey)"
          data-userid="@(Model.ViewComponentViewModel.UserID)"
          data-answerid="@(originalAnswer == null ? -1 : originalAnswer.AnswerID)"
          data-oldvalue="@(originalAnswer == null ? string.Empty : originalAnswer.AnswerCodeSet.CodeValue)"
          data-codesetid="@(originalAnswer == null ? string.Empty :originalAnswer.AnswerCodeSet.CodeSetID)"
          data-codesetdescription="irrelevant"
          data-answersequencenumber="@(originalAnswer == null ? 1 : originalAnswer.AnswerSequenceNumber)"
          data-toggle="tooltip"
          data-placement="left"
          aria-labelledby="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.Measure}_{Model.ViewComponentViewModel.ControlCounter}_label")">

    @*text white on wite background to reduce clutter but is required*@
    <option value="-1">@($"select 1 of {Model.ChoiceAndAnswerList.Count}")</option>

    @foreach (var item in Model.ChoiceAndAnswerList)
    {
      if (item.SelectListItem.Selected)
      {
        selectedItem = item;
      }
      /* each item in the ChoicesAnswers contains maximum of one choice codeSetID and, if answered, one answer.codeSetID */
      <option value="@(item.SelectListItem.Value)"
              selected="@(item.SelectListItem.Selected)">
        @(item.SelectListItem.Text)
      </option>
    }
  </select>
  @if (selectedItem != null)
  {
    <div class="longTextOption">@(selectedItem.SelectListItem.Text)</div>
  }
  else
  {
    <div class="longTextOption invisible"></div>
  }
</div>