@model InputViewComponentTemplateModel
@{
    var thisItem = Model.ChoiceAndAnswerList.FirstOrDefault().SelectListItem;

    var originalAnswer = Model.ChoiceAndAnswerList.FirstOrDefault().Answer;
    string thisHtmlDate = string.Empty;
    string answeredBy = string.Empty;
    if (originalAnswer != null)
    {
        thisHtmlDate = $"{DateTime.Parse(originalAnswer.Description).ToString("yyyy-MM-dd")}";
        answeredBy = $"Answered by {originalAnswer.ByUser}";
    }

    bool displayStageHeader = Model.ViewComponentViewModel.DisplayMeasureHeader;
    string stageHeaderCssClass = Model.ViewComponentViewModel.MeasureHeaderBorderCssClass;
    string ContainerCssClass = Model.ViewComponentViewModel.ContainerCssClass;
    bool isMultiplChoices = Model.ViewComponentViewModel.MultipleChoices;
}

@* flex row for multi dates *@
<div class="@ContainerCssClass">
    @* flex column for each date header and date input pair *@
    <div class="flex-start-column-nowrap">
        @if (displayStageHeader)
        {
            @*prevent the next inner div to be flexed*@
            <div>
                <div class="@(stageHeaderCssClass)">@($"{Model.ViewComponentViewModel.MeasureTitleNormalized}")</div>
            </div>
        }
        <div class="flex-start-row-nowrap">
            <input disabled type="date" max="@(DateTime.Today.ToString("yyyy-MM-dd"))"
                   class="persistable"
                   name="@Model.ViewComponentViewModel.QuestionKey"
                   id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.MeasureDescription}_{Model.ViewComponentViewModel.ControlCounter}")"
                   required="@(Model.ViewComponentViewModel.Required)"
                   value="@(thisHtmlDate)"
                   title="@(answeredBy)"
                   data-stageid="@(Model.ViewComponentViewModel.StageID)"
                   data-questionid="@(Model.ViewComponentViewModel.QuestionID)"
                   data-questionkey="@(Model.ViewComponentViewModel.QuestionKey)"
                   data-userid="@(Model.ViewComponentViewModel.UserID)"
                   data-answerid="@(originalAnswer?.AnswerID)"
                   data-oldvalue="@(thisHtmlDate)"
                   data-codesetid="@(thisItem.Value)"
                   data-codesetdescription="@(thisItem.Text)"
                   data-measuredescription="@(Model.ViewComponentViewModel.MeasureTitleNormalized)"
                   data-measureid="@(Model.ViewComponentViewModel.MeasureID)"
                   data-answersequence="@(originalAnswer?.AnswerSequenceNumber)"
                   data-toggle="tooltip"
                   data-placement="left"
                   aria-labelledby="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.MeasureDescription}_{Model.ViewComponentViewModel.ControlCounter}_label")" />
            <label class=""
                   for="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.MeasureDescription}_{Model.ViewComponentViewModel.ControlCounter}")"
                   id="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.MeasureDescription}_{Model.ViewComponentViewModel.ControlCounter}_label")"
                   aria-label="@($"a date for {Model.ViewComponentViewModel.QuestionKey}")"></label>&nbsp;
            <button class="calendarReset" @(string.IsNullOrEmpty(thisHtmlDate)?"disabled=disabled":"")
                    data-target="@($"{Model.ViewComponentViewModel.QuestionKey}_{Model.ViewComponentViewModel.MeasureDescription}_{Model.ViewComponentViewModel.ControlCounter}")">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-x" viewBox="0 0 16 16">
                    <title>reset date</title>
                    <path d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z" />
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
            </button>
        </div>
    </div>
</div>